In [44]:
import pandas as pd
import numpy as np

housing = pd.read_csv(r"C:\Users\olofs\OneDrive\Skrivbord\DataScientist\Machine_Learning\Lecture_2_house_prices\housing.csv")

In [45]:
pd.DataFrame(housing)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [46]:
housing["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [47]:
# Make dummies from the "ocean_proximity" column. Drop first to imply that if all new columns are 0, that observation must be the value dropped
# In this case, dropped column will be "<1H OCEAN" (First, as we saw above)
housing_dummies = pd.get_dummies(housing["ocean_proximity"], drop_first=True)

In [48]:
housing_dummies.head()

   INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0       0       0         1           0
1       0       0         1           0
2       0       0         1           0
3       0       0         1           0
4       0       0         1           0

In [49]:
# Concat housing and housing_dummies into "housing_dummies"
# Drop column "ocean_proximity"
housing_dummies = pd.concat([housing.drop("ocean_proximity", axis=1), housing_dummies], axis=1)

In [50]:
housing_dummies.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,1,0

In [ ]:
# Alternativelly, if there is only one column to dummy, you need not specify
housing2 = pd.read_csv(r"C:\Users\olofs\OneDrive\Skrivbord\DataScientist\Machine_Learning\Lecture_2_house_prices\housing.csv")
housing2_dummies = pd.get_dummies(housing2, drop_first=True)

# Note that the columns are now prefixed with the original column name
# Original column is automatically dropped
housing2_dummies.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,1,0

In [52]:
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X = housing2_dummies.drop("median_house_value", axis=1).values
y = housing2_dummies["median_house_value"].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

kf = KFold(n_splits=5, shuffle=True, random_state=42)
linreg = LinearRegression()
linreg_cv = cross_val_score(linreg, X_train, y_train, cv=kf, scoring="neg_mean_squared_error")

In [53]:
print(np.sqrt(-linreg_cv))

[69793.50229311 67748.61211153 66466.60638207 69972.41192577
 69039.682064  ]

In [59]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer()
X_train_trans = imp.fit_transform(X_train)
X_test_trans = imp.transform(X_test)

In [60]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()

X_train_final = std.fit_transform(X_train_trans)
X_test_final = std.fit_transform(X_test_trans)

In [61]:
linreg.fit(X_train_final, y_train)

LinearRegression()

In [63]:

ypred = linreg.predict(X_test_final)

In [65]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, ypred, squared=False)

70099.2660828297